*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
html{
   font-family: Arial, Helvetica, sans-serif;
}
/* lam tu ngoai vao trong, tu tren xuong,tong quan den chi tiet  */
/*
1.vi tri
2.kich thuocs
3.mau sac
4.kieu chu
   */
   /* muon hover duoc thi phai dung bo con divbo > divcon */
   /* common*/
html{
   scroll-behavior: smooth;
}
.row{
   margin-left: -8px;
   margin-right: -8px;
   padding: 32px 0px;
   display: flex;
}

.col{
   float:left !important;
   padding-left: 8px;
   padding-right: 8px;
}
.col-third{
   width: 33.33333%;
   
}
.col-second{
   width: 49.99%;
   float:left;
}
.text-center{
   text-align: center !important;
}


.main{
  overflow: hidden;
}
/*begin phan header */
.header{
height:46px;
background-color: black;
position: fixed;
top:0;
left: 0;
right: 0;
display: inline-block;
z-index: 2;
width: 100%;
}
.header .nav li{
   display: inline-block;
   position: relative;
}
.nav .subnav{
   display: none;
   position: absolute;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
   z-index: 2;
}
.nav li:hover .subnav
{
   display: block;
}
 .nav .subnav li a{
   display: block;
   color: black;
   padding: 0 16px;
   line-height: 40px;
   text-decoration: none;
}
.nav .subnav li{
   display: block;
}
.nav .subnav li:hover {
     background-color: gray;
}
.nav> li> a
{
   text-decoration: none;
   color: aliceblue;
   line-height: 46px;
   padding-left: 24px;
   padding-right: 24px;
   height: 46px;
}

.nav li{
   height: 46px;
}

.nav > li:hover{
   background-color: gray;
   color: black;
}
.nav > li:hover .nav .subnav li a
{
   opacity: 1;
}
.nav  li:hover  a{
   color: black;
}
.fa-search{
   color: #fff;
   display: inline-block;
   line-height: 46px !important;
   
}
/* phan responsive mobile */

.menu-mobile-btn{
   display: none;
   padding: 0px 24px;
   float: right;
   color: #fff !important;
   padding: 12px 24px;
   
}

.menu-mobile-btn:hover{
   background-color: #ccc;
   color: #000 !important;
}


/* end */
.search-btn 
{
   display: inline-block;
   padding: 0px 24px;
   float: right;
}
.search-btn:hover{
   background-color: red;
   cursor: pointer;
}
.nav{
   display: inline-block !important;
}
/* end phan header */
/* begin slider */
.slider{
margin-top: 46px;
padding-top: 50%;
position: relative;
}
.slider .text-content{
position: absolute;
bottom: 47px;
color: #fff;
left: 50%;
transform: translateX(-50%);
text-align: center;
}
 
.slider .text-heading{
  font-weight: 400 !important;
  font-size: 24px;
}
 
.slider .text-description{
margin-top: 25px;
font-size: 15px;
}
/* end phan slider */
/* begin content */
.content{

}
.content-section
{
   width:  768px;
   max-width: 100% !important;
   padding: 64px 16px;
   margin-left: auto;
   margin-right: auto;
  
   
}

.section-heading{
   font-weight: 400;
   text-align: center;
   margin: 10px 0px;
   font-size: 30px;
   font-family: "Segoe UI",Arial,sans-serif;
   letter-spacing: 4px !important;
}
.section-sub-slogan{
   font-weight: 400;
   font-style: italic;
   text-align: center;
   margin: 15px 0px;
   color: #757575;
}
.about-text{
   font-weight: 450;
   margin: 15px 0px;
   text-align: justify;
   font-family: "Lato", sans-serif;
   line-height: 1.6;
}
.about-member{
   padding: 32px 0px;
   display: flex;
}
.about-member .member img{
width: 153px;
height: 153px;
border-radius: 5px;
margin-left: auto;
margin-right: auto;
margin-bottom: 16px;
}
.about-member p {
   margin: 15px 0px;
   text-align: center;
}
.member{
   width: 33.333%;
   text-align: center;
   
}
.content-section2{
   background-color: black;
  
   
   padding: 64px 16px;
   margin-left: auto;
   margin-right: auto;
}

.content-section2 h2{
   color: white;
}
.content-section2 p{
   color: white;
}
.time-tour
{ 
   height: 120px;
   background-color: white;
   width: 738px;
   margin-right: auto;
   margin-left: auto;
}
.time-tour ul{
   height: 120px;
   list-style: none;
   
}
.time-tour ul li{
   height: 40px;
   border-bottom: solid #ddd 0.4px;
   color: #757575;
   padding: 8px 16px;
   
}
.time-tour ul li span
{
   margin-left: 16px;
   padding: 0px 8px;
   background-color: #f44336;
   color: white;
   line-height: 22px;
   height: 22px;
}
.ticket{
   width: 784px;
   padding: 32px 6px;
   margin-left: 50%;
   padding-left: -8px;
   margin-right: -16px;
   display: flex;
   transform: translateX(-50%);
}
.local{
   padding:0px 8px;
   width: 255px; 
}
.local img{
   width: 245px;
   height: 183px;
   display: inline-block;
   opacity: 1;
}
.local img:hover{
   opacity: 0.7;
}
.detail-local{
   width: 243.5px;
   height: 204.5px;
   padding: 0px 16px;
   background-color: #fff;
}
.detail-local p{
 color: #000;
 padding-top: 16px;
 margin-bottom: 0px !important;
 font-family: "Lato", sans-serif;
}
.buy{
   margin-top: 12px;
   padding: 8px 16px ;
   width: 115px;
   background-color: #000;
   color: #fff;
   
}
.buy:hover{
   color: #000;
   background-color:#757575 ;
   cursor: pointer;
}
/* */
.footer{

}

/* modal */
.modal.open{
   display:flex !important;
}
.modal{
   position: fixed;
   top:0px !important;
   bottom: 0px !important;
   right: 0px !important;
   left: 0px !important;
   z-index: 3 !important;
   display: block !important;
   background-color: rgba(0, 0, 0, 0.4);
   display:flex !important;
   align-items: center !important;
   justify-content: center !important;
   display: none !important;
}
.modal-container{
   width: 900px;
   background-color: #fff;
   min-height: 200px;
   animation: modafadein ease 0.3s;

}
/* begin header va closer */
.modal-header
{
   display: -webkit-box !important;
   
   display: block !important;
   -webkit-box-align: start !important;
   -ms-flex-align: start !important;
   align-items: flex-start !important;
   -webkit-box-pack: justify !important;
   -ms-flex-pack: justify !important;
   justify-content: space-between !important;
   padding: 1rem;
   border-bottom: none !important;
   border-radius: 0%!important;
   text-align: center !important;
   background-color: #009688;
   font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
   color: white;
    font-size: 30px;
    padding: 50px 16px !important;
}
.fa-2x{
   font-size: 1.5em !important;
}
.modal-header.fa-shopping-bag{
   margin-right: 32x !important;
}
.fa-window-close{
   float: right;
   color: aliceblue;
}
.fa-window-close:hover{
   color: #ccc;
}
/* end header va closer */

/* begin modal body */
 label {
   display: block !important;
   margin-bottom: 0px !important;
   
}
.modal-body p{
   margin: 15px 0px;
   align-items: center;
}
.modal-body input {
width: 880px;
height: 42.5px;
padding: 8px;
display: block;
border: 1px solid #ccc!important;

}
.modal-body{
   margin: 0px;
   padding: 10px !important;
   border-bottom: none !important;
}
.button-pay{
   width: 880px; 
   padding: 16px;
   background-color: #009688;
   text-align: center;
   color: aliceblue;
}
.button-pay:hover{
   background-color: #ccc;
   color: #000!important;
   cursor: pointer;
}
/* end phan modal-body */
/* end modal */
/* begin footer */
.modal-footer{
   border-top: none!important;
   height: 80px;
   background-color: none;
   margin-top: 0px !important;
   display: inline-block;
}
.modal-footer a{
   margin-left: 5px;
}
.modal-footer .modal-help{
   float: right;
}

/* end footer */
/* begin contact */

.row .col-second p {
   font-size: 18px;
   margin-bottom: 0px;
   font-family: "Lato", sans-serif
}
.fa-map-marker
{
   font-size: 18px !important;
   padding-right: 8px !important;
}
 .fa-phone{
   font-size: 18px !important;
padding-right: 8px !important;
 }
 .fa-envelope-o{
   font-size: 18px !important;padding-right: 8px !important;
 }



@keyframes modafadein{
   from {
      opacity: 0;
      transform: translateY(-100px);
   }
   to{
      opacity: 1;
      transform: translateY(0px);
   }
}
/* begin contact */
.section-form{
width: 50%;

background-color:none ;

}
.section-form input{
   width: 49.999%;
   padding: 7px !important;
   height: 38px !important;
   margin-left: 10px !important; 
   border: 1px solid #ccc!important;
}
.row-one{
   display: flex;
   margin-left: -10px !important;
}
.row-two{
   margin-left: -10px !important;
   margin-top: 8px;
   width: 100%;
}
.row-two input{
   width: 100%;
}
.send-button{
   float: right;
   color: white;
   font-weight: 500 !important;
   margin: 16px 0px !important;
   padding: 8px 16px !important;
   background-color: #000;
   display: inline-block;
   border: none !important;
}
.send-button:hover{
   color: #000!important;
    background-color: #ccc!important;
    cursor: pointer;
}

/* end contact */
/* begin map */

.map-section img{
   width: 100%;
   
   filter: grayscale(50%);
}
/* end map */
/* begin footer */
.footer{
   width: 100%;
   padding: 64px 16px;
   text-align: center;
}
.footer i{
   color: #757575;
}
.footer .fa{
   font-size: 24px;
}
.footer .fa:hover{
   color: #ccc;
}
.footer .end-slogan-footer{
   
   color: #757575;
}
a{
   color:#757575;
}
/* end footer */
#new-li-mobile{
   position: relative;
   line-height: 46px;
   padding: 0 24px;
   color: aliceblue;
   display: none !important;
}
#new-li-mobile:hover{
   cursor: pointer;
}
/* responsive tablet */
@media (min-width:740px) and (max-width:1023px){
   .row{
      margin-right:-8px !important ;
   }
}
.js-header-btn{
 overflow: visible !important;
 height: auto;
 
}

